<div class="container">
    <form #form="ngForm">
        <div class="row">
            <div class="col-5">
                <div class="mt-3">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="demoModel.email" name="email">
                        <label for="floatingInput">Email address</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="mt-3">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="demoModel.password" name="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="mt-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <button type="submit" class="btn btn-primary" (click)="btnSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{{ demoModel | json }}