<div class="row">
  <div class="col-12">
    <h1>Catálogo Principal</h1>
    <p>Bienvenido al catálogo principal de nuestra aplicación.</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar producto" aria-label="Buscar producto"
        aria-describedby="button-addon2">
      <button title="btnBuscar" class="btn btn-primary" type="button" id="button-addon2">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div class="col-2 mb-2">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categorías
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 mb-1" *ngFor="let producto of productos">
    <!-- Aquí puedes usar un componente para mostrar cada item del catálogo -->
    <!-- Por ejemplo, un componente llamado 'app-catalogo-item' -->
    <!-- Puedes pasarle el item como input si es necesario -->
    <!-- <app-catalogo-item [item]="item"></app-catalogo-item> -->
    <app-catalogo-item [productoCatalogo]="producto"></app-catalogo-item>
  </div>
</div>