<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Carrito de compras</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close_OnClick()"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="carrito && carrito.length > 0; else carritoVacio">
          <div *ngFor="let item of carrito" class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ item.nombre }}</h5>
              <p class="card-text">Cantidad: {{ item.cantidad }}</p>
            </div>
          </div>
        </div>
        <ng-template #carritoVacio>
          <p class="text-center text-muted">El carrito está vacío</p>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button name="btnCerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close_OnClick()">Cerrar</button>
        <button type="button" class="btn btn-primary">Cotizar</button>
      </div>
    </div>
  </div>
</div>